doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Modificar datos de alumnos
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container-fluid
			.row
				.col-sm-1 
				.col-sm-10
					header(style="height: 20px;")
				.col-sm-1 

			.row
				.col-sm-3
				.col-sm-6.content
					.center-block
						.div(style="text-align: center;")
							img(src="images/header.png", style="width:60%; margin-bottom: 20px;")
						block content
						.div(style="text-align: center;")
							img(src="images/casa.png", style="width:30%; margin-top: 20px;")
				.col-sm-3


		script(src="/components/jquery/dist/jquery.min.js")
		script(src="/components/jquery-validation/dist/jquery.validate.js")
		script(src="/components/jquery.rut/jquery.rut.min.js")
		script(src="/javascripts/main.js")