doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Datos de Alumnos
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content