doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Datos de Alumnos
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container-fluid
			.row
				.col-sm-1 
				.col-sm-10
					header
						h1 Actualiza tu datos para la matricula
				.col-sm-1 

			.row
				.col-sm-3
				.col-sm-6.content
					.center-block
						block content
				.col-sm-3


		script(src="/components/jquery/dist/jquery.min.js")
		script(src="/components/jquery-validation/dist/jquery.validate.js")
		script(src="/components/jquery.rut/jquery.rut.min.js")
		script(src="/javascripts/main.js")