extends layout

block content
	.container-fluid
		.row
			.col-sm-1 
			.col-sm-10
				header
					h1 Actualiza tu datos para la matricula
			.col-sm-1 

		.row
			.col-sm-3
			.col-sm-6.content
				.center-block
					if error
						.alert.alert-danger(role="alert")=error
					form(role="form", method="POST", action="/entrar")
						.form-group
							label(for="RUT") Ingresa tu RUT
							input.form-control(type="text", name="rut", required, placeholder="Sin puntos ni guiones")

						button.btn.btn-primary(type="submit") Entrar
			.col-sm-3