extends layout

block content
	if error
		.alert.alert-danger(role="alert")=error
	form(role="form", method="POST", action="/entrar")
		.form-group
			label(for="RUT") Ingresa tu RUT
			input.form-control(type="text", name="rut", required, placeholder="Sin puntos ni guiones")

		button.btn.btn-primary(type="submit") Entrar